### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [82]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.read_csv(file_to_load, encoding="utf-8")

df=pd.read_csv(file_to_load, encoding="utf-8")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [250]:

player_count = len(purchase_data["SN"].value_counts())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [273]:
unique_item = len((purchase_data["Item ID"]).unique())
average = purchase_data["Price"].mean()
number_of_purchases= len(purchase_data)
total_revenue=purchase_data["Price"].sum()
summary_table = pd.DataFrame({"unique item": [unique_item],"average": average,"number of purchases": number_of_purchases,"total revenue": total_revenue})
summary_table

   unique item   average  number of purchases  total revenue
0          183  3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [278]:
gender_count=purchase_data['Gender'].value_counts()
percentage_gender=(gender_count/number_of_purchases)*100
summary_table= pd.DataFrame({"gender_count": gender_count,
                              "percentage_gender": percentage_gender,
                             })
summary_table

                       gender_count  percentage_gender
Male                            652          83.589744
Female                          113          14.487179
Other / Non-Disclosed            15           1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [283]:
gender_general = purchase_data.groupby("Gender")

purchase_count = (gender_general["Purchase ID"]).count()


purchase_average=(gender_general["Price"]).mean()

purchase_total_person=(gender_general["Price"]).sum()

average_purchase_total_person=purchase_total_person/gender_count


purchasing_analysis_gender= pd.DataFrame({"Purchase Count": purchase_count,"Purchase Average": purchase_average,"Purchase Total Person": purchase_total_person, "Avg. Purchase per Per": average_purchase_total_person
                             })
purchasing_analysis_gender.style.format({"Purchase Count":"${:,.2f}",
                                  "Purchase Average":"${:,.2f}",
                                  "Avg. Purchase per Per":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [291]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()

percent_age = (total_count_age/player_count) * 100

age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percent_age})
age_demographics

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [309]:
purchase_count_age=(age_grouped["Purchase ID"]).count()
purchase_average_age=(age_grouped["Price"]).mean()
purchase_total_person_age=(age_grouped["Price"]).sum()
average_purchase_total_person=purchase_total_person_age/total_count_age
purchasing_analysis_age = pd.DataFrame({"purchase count": purchase_count_age,"average purchase price": purchase_average_age,"total purchase value":purchase_total_person_age,"average total purchases per person":average_purchase_total_person
                                       })
purchasing_analysis_age.style.format({"average purchase price":"${:,.2f}",
                               "total purchase value":"${:,.2f}"
                               })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [332]:
spender_info=purchase_data.groupby("SN")
purchase_count_spenders=spender_info["Purchase ID"].count()
purchase_average_spenders=spender_info["Price"].mean()
purchase_total_person_spenders=spender_info["Price"].sum()
spender_info_top = pd.DataFrame({"purchase count ": purchase_count_spenders,"average purchase price": purchase_average_spenders,"total purchase value":purchase_total_person_spenders
                                       })
spender_sorted= spender_info_top.sort_values("total purchase value",ascending=False).head()
spender_sorted
spender_sorted.style.format({"average purchase price":"${:,.2f}",
                             "total purchase value":"${:,.2f}"
                               })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [350]:
new_items=purchase_data[["Item ID","Item Name","Price"]]
popular_items=new_items.groupby(["Item ID","Item Name"])
purchase_count_pop=popular_items["Price"].count()
purchase_total_person_pop=popular_items["Price"].sum()
item_price_pop=purchase_count_pop/purchase_total_person_pop
most_popular_items = pd.DataFrame({"purchase count ": purchase_count_pop,"item price": item_price_pop,"total purchase value":purchase_total_person_pop
                                       })
most_popular_items

,,purchase count,item price,total purchase value
Item ID,Item Name,,,
0,Splinter,4,0.781250,5.12
1,Crucifer,3,0.306748,9.78
2,Verdict,6,0.403226,14.88
3,Phantomlight,6,0.401606,14.94
4,Bloodlord's Fetish,5,0.588235,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,0.223214,26.88
180,Stormcaller,1,0.297619,3.36
181,Reaper's Toll,5,0.602410,8.30
182,Toothpick,3,0.248139,12.09
183,Dragon's Greatsword,3,0.917431,3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [353]:
most_profitable_sorted = most_popular_items.sort_values(["total purchase value"],
                                                   ascending=False).head()
most_profitable_sorted

,,purchase count,item price,total purchase value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,0.236407,50.76
82,Nirvana,9,0.204082,44.10
145,Fiery Glass Crusader,9,0.218341,41.22
92,Final Critic,8,0.204918,39.04
103,Singed Scalpel,8,0.229885,34.80